.ant-tabs{
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FFF;
  .ant-tabs-ink-bar{
    display: none!important;
  }
  .peleaseTopic{
    color: #333;
  }
}
.ant-tabs-bar{
  margin: 0;
}
.ant-tabs-content{
  flex: 1;
  .ant-tabs-tabpane{
    overflow-y: auto;
  }
}
.ant-tabs-nav-wrap{
  background-color: #F6F6F6;
  padding: 0 10px;
}