.ant-layout-header {
  height: 50px;
  background-color: #444444;
  display: flex;
  justify-content: space-between;
  min-width: 1024px; }
  .ant-layout-header .title {
    width: 300px;
    display: flex; }
    .ant-layout-header .title a, .ant-layout-header .title .logo {
      display: inline-block;
      height: 100%;
      width: 100px;
      margin: 0;
      padding: 0;
      float: left; }
    .ant-layout-header .title .search {
      height: 100%;
      display: inline-block;
      flex: 1;
      line-height: 50px; }
      .ant-layout-header .title .search .ant-input {
        border-radius: 15px; }

.ant-menu {
  background-color: transparent;
  border: none; }

.ant-menu-horizontal .ant-menu-item {
  transition: none;
  line-height: 50px; }
  .ant-menu-horizontal .ant-menu-item > a {
    color: #ccc; }
    .ant-menu-horizontal .ant-menu-item > a:before {
      bottom: 0; }
    .ant-menu-horizontal .ant-menu-item > a:hover {
      color: #fff; }

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border: none; }
