@import '~assets/style/common/var.scss';
.m-TopicDetails{
  flex: 1;
  padding: 0px 5px 0;
  box-sizing: border-box;
  overflow-y: auto;
  .header,
  .topic-content,
  .replylist,
  .addrevert{
    background-color: $--color-white;
  }
  .topic-content,
  .replylist,
  .addrevert{
    margin-bottom: 5px;
    padding: 10px 10px;
  }

  .bottom-line{
    border-bottom: 1px solid #E6E6E6;
  }

  .header{
    padding: 5px 0 20px;
  }

  .title{
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    position: relative;
    padding: 10px 0;
    box-sizing: content-box;
    padding-right: 60px;
    .state{
      font-size: $--font-size-base;
      background-color: $--color-success;
      font-weight: 300;
      font-size: $--font-size-small;
      height: 18px;
      line-height: 18px;
      margin-right: 5px;
      color: $--color-white;
      padding: 0px 5px;
      border-radius: 2px;
    }
    h2{
      font-weight: 900;
      display: flex;
      align-items: center;
      @include text-overflow-nowarp;
    }
    .operate{
      position: absolute;
      top: 10px;
      right: 9px;
      .iconfont{
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  .topic-info{
    font-size: 12px;
    position: relative;
    .info{
      margin-right: 3px;
    }
    .iconfont{
      font-weight: 900;
    }
    .collect{
      position: absolute;
      right: 5px;
    }
  }
}