@import './common/var.scss';
ul, li, p{
  padding: 0;
  margin: 0;
}
a{
  color: $--color-primary-dark-3;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: $--color-primary-dark-3;
  }
}
li{
  list-style: none;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  color: $--color-primary-dark-6;
}
// h3{
//   font-size: 16px;
//   padding: 3px 0;
// }