@import '~assets/style/common/var.scss';
// loading
.vito-getdata-loading{
  &>div{
    &>.ant-spin{
      .ant-spin-dot{
        position: fixed;
        top: 50%;
        left: 50%;
      }
      .ant-spin-text{
        position: fixed;
        left: 0;
      }
    }
  }
}