.m-ui-ReactMde{
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 5px;
  .title{
    // height: 50px;
    .plate{
      padding: 5px 0;
    }
  }
  .m-ReleaseTopicPanel{
    flex: 1;
    max-height: 500px;
  }
  .footer{
    height: 50px;
    display: flex;
    align-items: center;
  }
}