@import '../../../assets/style/common/var.scss';
.ant-layout{
  // background: #063159;
  background-color: $--color-primary;
  display: block;
}
.ant-layout-header{
  height: 120px;
  background-color: $--color-primary;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  .title{
    width: 300px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: ani-top-bottpm 1s ease 2s 1 normal running forwards;
    a, .logo{
      display: inline-block;
      height: 100%;
      width: 226px;
      height: 66px;
      margin:0;
      padding:0;
    }
  }
  .title-text{
    flex:1;
    color: $--color-white;
    line-height: 120px;
    font-size: 22px;
    letter-spacing:20px;
    @include text-center;
    animation: text-toggle-fov 2s;
  }
}