@import '../../../assets/style/common/var.scss';
.ant-layout{
  // background: #063159;
  background-color: $--color-primary;
  display: block;
}
.ant-layout-header{
  height: 120px;
  background-color: $--color-primary;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  .title{
    width: 300px;
    display: flex;
    align-items: center;
    a, .logo{
      display: inline-block;
      height: 100%;
      width: 226px;
      height: 66px;
      margin:0;
      padding:0;
      // float: left;
      // margin-left: 50px;
    }
  }
}